@font-face {
    font-family: "Evolventa700";
    src: url(../fonts/Evolventa/Evolventa-Bold.ttf);
}

@font-face {
    font-family: "Evolventa400";
    src: url(../fonts/Evolventa/Evolventa-Regular.ttf);
}